@import "tailwindcss";

@custom-variant widescreen {
  @media (min-aspect-ratio: 3/2) {
    @slot;
  }
}

@custom-variant tallscreen {
  @media (max-aspect-ratio: 13/20) {
    @slot;
  }
}

@utility section-min-height {
  min-height: calc(100vh - 68px);
}

@theme {
  --animate-open-menu: open-menu 0.5s ease-in-out forwards;

  @keyframes open-menu {
    0% {
      transform: scaleY(0);
    }

    80% {
      transform: scaleY(1.2);
    }

    100% {
      transform: scaleY(1);
    }
  }
}

@utility toggle-btn {
  @apply [&>div]:rotate-720 [&>div]:bg-transparent [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div::before]:translate-y-0 [&>div::before]:rotate-45;
}